<style type="text/css">
  footer,
  footer div.container div.row div.col span.footer-copyright,
  footer div.container div.row div.col span.footer-copyright a,
  footer div.container div.row div.col span.footer-copyright a:active,
  footer div.container div.row div.col span.footer-copyright a:visited,
  footer div.container div.row div.col a,
  footer div.container div.row div.col a:active,
  footer div.container div.row div.col a:visited {
    color:#00ff95 !important;
    font-family: "Apple2Forever80";
    background-color:#000000 !important;
  }
  footer div.container div.row div.col span.footer-copyright a:active,
  footer div.container div.row div.col a:active {
    color:#ffffff !important;
  }
</style>
<footer>
  <div class="container">
    <div class="row">
      <div class="col">
        <span class="footer-copyright"><a href="/about/">ProDOS-8</a></span>
        <a class="footer-author" href="http://www.prodos8.com/">www.prodos8.com</a>
      </div>
    </div>
  </div>
</footer>
