<div class="topbar">
  <div class="container">
    <h1 id="latest-release-notice"><a href="/releases/prodos-242"><strong>Latest release</strong> of ProDOS is <strong>2.4.2</strong></a></h1>
    <span class="phone"><a href="/releases/prodos-25">ProDOS <strong>2.5 alpha 8</strong> pre-release is available</a></span>
  </div>
</div>
<style type="text/css">
div.topbar { background-color:#292929 !important; }

div.topbar div.container h1#latest-release-notice a,
div.topbar div.container h1#latest-release-notice a:visited,
div.topbar div.container h1#latest-release-notice a:active {
  color:#ffffff !important;
  font-family: "Apple2Forever80";
}
div.topbar div.container a:hover,
div.topbar div.container h1#latest-release-notice a:hover {
  color:#00ff95 !important;
  font-family: "Apple2Forever80";
}

div.topbar div.container span.phone a,
div.topbar div.container span.phone a:visited,
div.topbar div.container span.phone a:active {
  color: #ffae36 !important;
  font-family: "Apple2Forever80";
}
div.topbar div.container span.phone a:hover {
  color:#ffffff !important;
  font-family: "Apple2Forever80";
}

</style>