---
layout: default
---

<div class="container-full home-page-intro-container">
  <div class="container">
    <div class="row">
      <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
        <div class="home-intro">
          <h1>Your Apple II. Enhanced.</h1>
          <p><strong>ProDOS 2.4.2</strong> is the current release, and available for <strong>ALL</strong> models of the Apple II.</p>
          <p>Features of <strong>ProDOS 2.4.2</strong> include:</p>
          <ul>
            <li>Compatibility with all 8-bit Apple II's</li>
            <li>Bitsy Bye Program Launcher</li>
            <li>Disk imaging using ADT Pro</li>
            <li>Disk utilities</li>
            <li>ROM ID detection for Apple II clones.</li>
            <li>Thunderclock driver is updated to work through 2023</li>
          </ul>
          <a href="/releases/prodos-242" id="download-prodos-release"    class="btn btn-lg btn-secondary">Download ProDOS 2.4.2</a>
        </div>
      </div>
      <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12">
        <div class="home-carousel">
          <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
              <div class="carousel-item active">
                <a href="/releases/prodos-242"><img class="d-block img-fluid" src="/pix/prodos242/homepage_slide1.png" alt="ProDOS 2.4.2 Boot Screen">
                <div class="carousel-caption d-none d-md-block"></a></div>
              </div>
              <div class="carousel-item">
                <a href="/bitsy-bye"><img class="d-block img-fluid" src="/pix/prodos242/homepage_slide2.png" alt="ProDOS 2.4.2 Bitsy Bye"></a>
                <div class="carousel-caption d-none d-md-block"></div>
              </div>
              <div class="carousel-item">
                <a href="/bitsy-boot"><img class="d-block img-fluid" src="/pix/prodos242/homepage_slide3.png" alt="ProDOS 2.4.2 Bitsy Boot"></a>
                <div class="carousel-caption d-none d-md-block"></div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<style type="text/css">
  a#download-prodos-prerelease,
  a#download-prodos-prerelease:active,
  a#download-prodos-prerelease:visited {
    background-color:#b1001c !important;
  }
  a#download-prodos-prerelease:hover {
    background-color:#beb907 !important;
    color:#000000 !important;
  }
  div.home-page-prerelease-download-background {
    background-color: #ffffff !important;
    padding: 2.5rem 0 2.5rem 0;
    vertical-align: center;
  }
</style>
<div class="container-full home-page-prerelease-download-background">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 col-lg-8">
        <p style="color:#b1001c;">If you're looking for the bleeding edge, <strong>ProDOS 2.5a7</strong> is the current <em>pre-release</em></p>
      </div>
      <div class="col-xl-4 col-lg-4">
        <a href="/releases/prodos-25" id="download-prodos-prerelease" class="btn btn-lg btn-secondary">Download ProDOS 2.5a7</a>
      </div>
    </div>
  </div>
</div>


<div class="container-full home-page-cards-background">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-lg-4">
        <div class="home-card">
          <a href="/bitsy-boot">
            <img src="/pix/homecard_bitsy_boot.png">
          </a>
          <div class="home-card-content">
            <h2><a href="/bitsy-boot/">Bitsy Boot</a></h2>
            <p><li>A small system program which allows quick and easy booting of Apple II devices in various slots</li><li>Allows one-press booting of slots 1-7</li><li>Displays all slots which contain active ProDOS devices</li><li>Allows programs to quit to the 8-bit launcher or return to the 16-bit GS/OS Finder</li></p>
            <a href="/bitsy-boot/" class="btn btn-secondary" role="button" aria-pressed="true">More about Bitsy Boot</a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4">
        <div class="home-card">
          <a href="/bitsy-bye">
            <img src="/pix/homecard_bitsy_bye.png">
          </a>
          <div class="home-card-content">
            <h2><a href="/bitsy-bye/">Bitsy Bye</a></h2>
            <p><li>A new program launcher</li><li>Select drives by slot using number keys 1-7.</li><li>Select files by typing the first letter of their filename.</li><li>Displays the slot and drive of each device</li><li>Does not abort on drive errors, but instead lists and allows launching of all readable files.</li></p>
            <a href="/bitsy-bye/" class="btn btn-secondary" role="button" aria-pressed="true">More about Bitsy Bye</a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4">
        <div class="home-card">
          <a href="/minibas/">
            <img src="/pix/homecard_bitsy_bye.png">
          </a>
          <div class="home-card-content">
            <h2><a href="/minibas">MiniBas</a></h2>
            <p><li>This tiny program can be used instead of Basic.System</li><li>NOT a BASIC interpreter but a ProDOS wedge for BASIC</li><li>Requires only 1 block on disk vs 21 blocks for Basic.System</li><li>Loads and runs Binary and Basic programs launched by <a href="/bitsy-bye">Bitsy Bye</a></li></p>
            <a href="/minibas/" class="btn btn-secondary" role="button" aria-pressed="true">More about MiniBas</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
