---
layout: default
---

<div class="container-full page-banner-background">
  <div class="container page-banner">
    <h1>{{ page.title }}</h1>
    {% if page.download_link %}
      <span class="phone" style="top:-50px !important;"><a href="{{ page.download_link }}" class="btn btn-lg btn-secondary">Download {{ page.title }}</a></span>
    {% endif %}
  </div>
</div>

{% if page.description %}
<div class="container-full page-banner-background">
  <div class="container page-banner-description">
    {{ page.description }}
  </div>
</div>
{% endif %}

<div class="container-full page-background">
  <div class="container">
    <div class="page">
      <div class="row">
        <!-- div class="col-xl-5 col-lg-5 col-md-12 col-sm-12" -->
          {{ content }}
        <!-- /div -->
      </div>
    </div>
  </div>
</div>
